name: .NET 7 Build and Release

on:
  push:
    branches:
      - main
      - develop

jobs:
  build-and-test-linux:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Install .NET 6
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 6.0.x # gitreleasemanager dependency
        
    - name: Install .NET 7
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 7.0.x

    - name: Install GitVersion
      uses: gittools/actions/gitversion/setup@v0
      with:
        versionSpec: '5.x'

    - name: Install GitReleaseManager
      run : dotnet tool install --global GitReleaseManager.Tool --version 0.14.0

    - name: Restore dependencies
      run: dotnet restore #--verbosity normal

    - name: Determine version
      id: gitversion
      uses: gittools/actions/gitversion/execute@v0
   
    - name: Dotnet Build
      run: dotnet build -c release --no-restore  #--verbosity normal
    
    - name: Dotnet Test
      run: dotnet test --configuration Release --no-build  #--verbosity normal    

    - name: Create version tag
      id: create_tag
      run: |
        echo "GITVERSION_INFORMATIONALVERSION: $GITVERSION_INFORMATIONALVERSION"
        echo "GITVERSION_FULLSEMVER: $GITVERSION_FULLSEMVER"
        git tag $GITVERSION_FULLSEMVER
        git push origin $GITVERSION_FULLSEMVER
        echo created tag: $GITVERSION_FULLSEMVER

    - name: Dotnet Publish
      run: |
        dotnet publish -c Release --output FakerCLI.$GITVERSION_FULLSEMVER src/FakerCLI
        mv ./FakerCLI.$GITVERSION_FULLSEMVER/FakerCLI ./FakerCLI.$GITVERSION_FULLSEMVER/faker 
        tar -cvf FakerCLI.tar.gz FakerCLI.$GITVERSION_FULLSEMVER
    
    - name: Display Directory
      run: |
        echo exibindo diretório
        ls -la
        echo dotnet-version: $(dotnet --version)
        echo -----------------------------------
        echo exibindo diretório .github/workflows
        ls -la ./.github/workflows    

    - name: Create Release
      run: |
        dotnet-gitreleasemanager create -n faker-cli.$GITVERSION_FULLSEMVER \
        --token ${{ secrets.ACTION_PAT_SECRET }} \
        --owner ${{ github.repository_owner }} \
        --repository ${{ github.event.repository.name }} \
        --assets ./FakerCLI.tar.gz \
        --inputFilePath .github/workflows/GitReleaseManager.yaml

    - name: Publish Release
      run: |
        dotnet-gitreleasemanager publish \
        --tagName $GITVERSION_FULLSEMVER \
        --token ${{ secrets.ACTION_PAT_SECRET }} \
        --owner ${{ github.repository_owner }} \
        --repository ${{ github.event.repository.name }}