name: .NET 7 Build and Release

on:
  push:
    branches:
      - main
      - develop

jobs:
  build-and-test-linux:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 7.0.x

    - name: Install GitVersion
      uses: gittools/actions/gitversion/setup@v0
      with:
        versionSpec: '5.x'

    - name: Restore dependencies
      run: dotnet restore --verbosity normal

    - name: Determine version
      id: gitversion
      uses: gittools/actions/gitversion/execute@v0
   
    - name: Dotnet Build
      run: dotnet build -c release --no-restore  --verbosity normal
    
    - name: Dotnet Test
      run: dotnet test --configuration Release --no-build  --verbosity normal    

    - name: Create version tag
      id: create_tag
      env:
        FULL_SEMVER: ${{ steps.gitversion.outputs.fullSemVer }}
      run: |
        echo "FullSemVer: $FULL_SEMVER"
        echo "InformationalVersion: ${{ steps.gitversion.outputs.informationalVersion }}"
        echo "GITVERSION_FULLSEMVER: $GITVERSION_FULLSEMVER"
        git tag $FULL_SEMVER
        git push origin $FULL_SEMVER
        echo created tag: $FULL_SEMVER