name: .NET 7 Build and Release

on:
  push:
    branches:
      - main
      - develop

jobs:
  build-and-test-linux:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        fetch-depth: 0  # Fetch the complete history

    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 7.0.x

    - name: Install GitVersion
      run: dotnet tool install -g GitVersion.Tool

    - name: Restore dependencies
      run: dotnet restore --verbosity normal

    - name: Determine version
      id: version
      run: echo "::set-output name=FullSemver::$(dotnet gitversion /showvariable FullSemver)"

    - name: Build
      run: dotnet build -c release --no-restore  --verbosity normal
    
    - name: Test
      run: dotnet test --configuration Release --no-build  --verbosity normal    


    - name: Create version tag
      id: create_tag
      run: |
        tag="${{ needs.build-and-test-linux.outputs.version }}"
        echo "::set-output name=tag::$tag"
        git tag $tag
        git push origin $tag
        echo created tag: $tag

    # - name: Publish Linux release artifact
    #   uses: actions/upload-artifact@v2
    #   with:
    #     name: Linux-Release-Artifact
    #     path: path/to/compiled/executable/linux
